@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');


body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf8f8;
    color: #141414;
}

.navbar {
    display: flex;
    background-color: #333;
    justify-content: space-around;
    padding: 8px 0;
}

.navbar a {
    color: #fafafa;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.7;
    transition: 200ms ease;
}

.navbar a:hover {
    opacity: 1;
    
}

.content {
    padding: 20px;
    display: none;
}

.active {
    display: block;
}



#main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

#main-container h1 {
    text-align: center;
    color: #333;
}

#pdfForm {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="file"] {
    display: block;
    width: 100%;
}

#mergeButton {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
}